<h2>Tính lãi kép theo tháng</h2>

<div class="container mt w-50 ">
  <div class="d-flex justify-content-center align-items-center">
    <div class="form-container mt">
      <div class="p">
        <label>Số tháng gửi</label>
        <input type="number" class="form-input" required />
      </div>

      <div class="p">
        <label>Số tiền ban đầu</label>
        <input type="number" class="form-input" required />
      </div>

      <div class="p">
        <label>Lãi suất tháng (%)</label>
        <input type="number" class="form-input" required />
      </div>

      <div class="flex">
        <button type="submit" class="button button-green-back">Tính Lãi</button>
      </div>

      <div class="p">
        <label>Số tiền bạn nhận được là:  </label>
        <form class="form-label text-red">  1100</form>
      </div>
    </div>
  </div>
</div>
